html {
  font-family: "Gill Sans","Gill Sans MT",Myriad Pro,Myriad,"Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.87);
}


/***************/
/* PAGE LAYOUT */
/***************/

/* Layout: body > main > article */

body {
  background: #f8f8f8;
}

main {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

article {
  display: block;
  background: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  
}

@media screen and (max-width: 735px) {
    main {
        width: 95%;
    }
    
}


/******************/
/* BLOCK ELEMENTS */
/******************/

p {
    line-height: 1.45;
    margin-top: 0.8em;
    margin-bottom: 1em;
}

p:firstchild {
  margin-top: 0;
}

ul, ol {
  margin-top: 1 em;
  margin-bottom: 1em;
}

ul li, ol li{
  line-height: 1.65;
  margin-bottom: 0.3em;
}

ul li:last-child, ol li:last-child {
  margin-bottom: 0;
}

li ul, li ol {
  margin-bottom: 0;
}

figure {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-rigth: auto;
  text-align: center;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  color: rgb(66, 66, 66);
  margin-top: 1.3rem;
  margin-bottom: 0.8rem;
  
}

h1#title{
    margin-block-start: 0;
    margin-block-end: 1rem;
    font-weight: 600;
    font-size: 39px;
    font-variant-caps: small-caps;
    color: rgb(66, 66, 66);

}

h2 {
    margin-top: 1rem;
    margin-bottom:  0.7rem;
    font-weight: 700;
    font-size: 1.1em;
    /*color: rgb(66, 66, 66);*/
    font-variant-caps: all-small-caps;
}

h3 {
    margin-block-start: 1.2em;
    margin-block-end:  1rem;
}

h4 {
  display: inline;
}

blockquote {
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: #F0F0F0;
    margin-inline-start: 0;
    padding-inline-start: 32px;
}

blockquote footer {
    text-align: right;
}

blockquote footer::before {
    content: "— ";
}


/*******************/
/* INLINE ELEMENTS */
/*******************/

a {
	text-decoration: none;
	color:	#0A84FF;
}

a:hover {
	background-size: cover;
	background: #edf6ff;	
	transition-property: background;
	transition-duration: 0.2s;
	border-radius: 4px;
}

sup {
    font-size: 0.7em;
}


/**********/
/* TABLES */
/**********/

table {
    font-size: 0.9em;
    width: 100%;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

table th {
    text-align: left;
    letter-spacing: .03em;
    font-weight: normal;
    font-size: small;
    padding-bottom: 0.5rem;
}

table td {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2px;
    padding-right: 2px;
}

table tbody tr:nth-child(even) {
    background-color: #FBF7F0;
    
}



/**********/
/* NAVBAR */
/**********/

header {
	display: flex;
	flex-wrap: nowrap;
	border-bottom: 0.1em solid #F0F0F0;
}

header a {
	display: block;
	padding-top: 30px;
    padding-bottom: 5px;
	color: #333;
	float: left;
	width: 33.33%;
	text-decoration: none;
    color: #666666;
}

header a#left {
	text-align: center;
}

header a#centre {
	text-align: center;
	border-left: 0.05em solid #F0F0F0;
	border-right: 0.05em solid #F0F0F0;
}

header a#right {
	text-align: center;
}
